/* facts.css */

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

.fact-item {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(216, 124, 116, 0.4);
  padding: 60px;
  border-radius: 30px;
  margin: 20px 0;
  flex-direction: row; 
}



.flex-container .doctor-image {
  width: 40%; /* Change this line to make the image the same width as the container */
  height: auto;
  display: block;
  margin: 20px auto;
  text-align: center;

}


#facts-title {
  font-size: 80px;
}


.flex-container {
  display: flex;
  flex-direction: row; /* This makes the image and text side by side */
  align-items: center;
  max-width: 80%;
  margin: 0 auto;
}

.tiny-word-title {
  font-size: 30px;
}

.smaller {
  font-size: 40px;
}

body {

  background-color: rgba(156, 116, 89, 0.5);}

  header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #title {
    text-align: center;
  }
  
  .fact-text {
    text-align: center;
    font-style: italic;
    font-size: 30px;


  }
  
  .fact-item img {
    width: 50%;
    border-radius: 50%;  /* make the image round */
    object-fit: cover; /* ensures the aspect ratio of the image is maintained */
  }

  .number-of-doctors {

    font-size: 20px;

  }