
#intro{
    margin: 50px;
    margin-left: 150px;
    margin-right: 150px;
    padding: 10px;
    background-color: rgba(216, 124, 116, 0.4);
    border: #f39c94 5px dotted;
    border-radius: 25px;
}

footer {
    margin-top: 80px;
    margin-bottom: 2px;
    color:#9C7459;
}


h1 {
    animation: rainbow-animation 35s linear infinite;
}

@keyframes rainbow-animation {
    to {
        background-position: 4500vh;
    }
}