
#intro{
    margin: 50px;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: #d87c74;
    border: #f39c94 5px dotted;
    border-radius: 25px;
}

footer {
    margin-top: 80px;
    margin-bottom: 2px;
    color:#9C7459;
}

/* .container{
    display:grid;
    grid-template-columns: 1;
    grid-template-rows: 3;
}  */