/* Styles.CSS */

body {
    text-align: center;
    background-color: #e9cba5;
    font-family: 'Marker Felt', sans-serif;
    margin: 20px; /* Add margin around the page */
}

ul {
    list-style-type: none;
}

li {
    display: inline;
    padding: 10px;
    font-size: 30px;
}

#title {
    font-size: 60px;
}

a {
    color: black;
    text-decoration: none;
}

button {
    font-size: 24px;
    background-color: #DD8D4F;
}

