/* Styles CSS */

body {
    text-align: center;
    background-color: #e9cba5;
    font-family: 'Marker Felt', sans-serif;
    border: 10px solid #e8b262;
}

ul {
    list-style-type: none;
}

li {
    display: inline;
    padding: 10px;
    font-size: 30px;
}

#title {
    font-size: 60px;
}

#Nav:link {
    color: black;
    text-decoration: none;
}

#Nav :hover {
    color: #9C7459;
    text-decoration: underline;
}


