/* facts.css */

.flex-container {
  display: flex;
  flex-direction: row; /* This makes the image and text side by side */
  align-items: center;
  max-width: 80%;
  margin: 0 auto;
}

.fact-item {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(216, 124, 116, 0.4);
  padding: 60px;
  border-radius: 30px;
  margin: 20px 0;
  flex-direction: row; 
  width: 80%;
  background-image: linear-gradient(to right, rgba(216, 124, 116, 0.4), rgba(100, 100, 216, 0.4));
}


.flex-container .doctor-image {
  width: 40%; /* Change this line to make the image the same width as the container */
  height: auto;
  display: block;
  margin: 20px auto;
  text-align: center;
}

.fact-item img {
  border-radius: 50%;  /* make the image round */
}

.number-of-doctors {
  font-size: 20px;

}

.tiny {
  font-size: 15px;
}

.fact-text {
    text-align: center;
    font-style: italic;
    font-size: 30px;
    padding-top: 80px;  /* increase space at the top */
    padding-bottom: 80px;  /* increase space at the bottom */
}


